-
    const navData1 = [
        {title: 'Мамам', href: '#'},
        {title: 'Новорожденным', href: '#'},
        {title: 'Девочки', href: '#'},
        {title: 'Мальчики', href: '#'},
        {title: 'Игрушки', href: '#'},
        {title: 'Подарки', href: '#'},
    ];

    const navData2 = [
        {title: 'Посуда', href: '#'},
        {title: 'Мебель', href: '#'},
        {title: 'Декор', href: '#'},
        {title: 'Бренды', href: '#'},
        {title: 'Акции и скидки', href: '#'},
        {title: 'Журнал', href: '#'},
    ];

    const navData3 = [
        {title: 'О компании', href: '#'},
        {title: 'Избранное', href: '#'},
        {title: 'Оплата и доставка', href: '#'},
        {title: 'Подарочные сертификаты', href: '#'},
        {title: 'Программа лояльности', href: '#'},
        {title: 'Договор оферты', href: '#'},
    ];