-
    var presentationList = [
        {
            title: 'Bloomingville',
            srcPNG: 'slide.jpg',
            srcWP: 'slide.webp',
        },
        {
            title: 'Bloomingville',
            srcPNG: 'slide.jpg',
            srcWP: 'slide.webp',
        },
        {
            title: 'Bloomingville',
            srcPNG: 'slide.jpg',
            srcWP: 'slide.webp',
        },
        {
            title: 'Bloomingville',
            srcPNG: 'slide.jpg',
            srcWP: 'slide.webp',
        },
        {
            title: 'Bloomingville',
            srcPNG: 'slide.jpg',
            srcWP: 'slide.webp',
        },
    ];