@import "variables";

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) ;
  }
}

@keyframes load-tracker {
  0% {
    stroke-dashoffset: 629;
  }
  100% {
    stroke-dashoffset: 629 * 2;
  }
}


