// В этом файле должны быть стили для БЭМ-блока offer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

@import "../../libraries/variables";
@import "../../libraries/mixins";

.offer {
  $block-name: &; // #{$block-name}__element

  &__container {
    padding-top: 30px;
    padding-bottom: 35px;
    position: relative;
  }

  &__description {
    @extend .presentation__description;
    margin-top: 0;

    @media (min-width: $screen-xxl) {
      left: calc(50% - 200px);
    }
  }

  &__category {
    @media (min-width: $screen-xxl) {
      margin-bottom: auto;
    }
  }

  &__title {
    text-align: center;
    font-weight: 700;
    margin-top: 7px;

    @media (min-width: $screen-xxl) {
      margin-top: 30px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 26px;

    @media (min-width: $screen-xxl) {
      font-size: 22px;
      line-height: 28px;
    }

    strong {
      @media (min-width: $screen-xxl) {
        font-size: 100px;
        font-weight: 300;
        letter-spacing: -1px;
        line-height: 100px;
        display: block;
        color: #cdd7e0;
      }
    }
  }

  &__link {
    margin: 15px 0 0 30px;

    @media (min-width: $screen-xxl) {
      display: flex;
      flex-direction: column;
      margin-top: auto;
      margin-left: 0;
      text-align: center;
    }

    br {
      display: none;

      @media (min-width: $screen-xxl) {
        display: block;
      }
    }

    .icon-arrow {
      @media (min-width: $screen-xxl) {
        margin: 15px 0 0;
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 15px;
    margin-top: 20px;

    @media (min-width: $screen-xxl) {
      grid-column: 1 / -1;
      grid-column-gap: $grid-gutter-width;
      margin-top: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__picture {
    margin-bottom: 13px;

    @media (min-width: $screen-xxl) {
      margin-bottom: 0;
    }
  }

  &__link2 {
    margin-top: auto;

    @media (min-width: $screen-xxl) {
      display: flex;
      position: absolute;
      min-width: 160px;
      height: 48px;
      background: $white;
      top: calc(50% - 24px);
    }

    span {
      &:first-of-type {
        @media (min-width: $screen-xxl) {
          display: none;
        }
      }

      &:last-of-type {
        display: none;

        @media (min-width: $screen-xxl) {
          display: inline-flex;
        }
      }
    }

    .icon-arrow {
      display: none;
      margin: 0;

      @media (min-width: $screen-xxl) {
        display: block;
      }
    }

    &--left {
      left: 0;
      justify-content: flex-start;
      border-radius: 0 24px 24px 0;

      .icon-arrow {
        @media (min-width: $screen-xxl) {
          order: -1;
          margin-right: 15px;
          transform: rotate(0);
        }
      }
    }

    &--right {
      right: 0;
      justify-content: flex-end;
      border-radius: 24px 0 0 24px;

      .icon-arrow {
        @media (min-width: $screen-xxl) {
          margin-left: 15px;
        }
      }
    }
  }
}
