-
    const offerData1 = [
        {
            category: {mob: 'Мальчикам', desk: 'Для мальчиков'},
            picture: {webp: 'offer-boy' + '.webp', jpg: 'offer-boy' + '.jpg'},
            direction: 'left'
        },
        {
            category: {mob: 'Девочкам', desk: 'Для девочек'},
            picture: {webp: 'offer-girl' + '.webp', jpg: 'offer-girl' + '.jpg'},
            direction: 'right'
        },
    ];

    const offerData2 = [
        {
            category: {mob: 'Скидки', desk: 'Скидки'},
            picture: {webp: 'offer-sale' + '.webp', jpg: 'offer-sale' + '.jpg'},
            direction: 'left'
        },
        {
            category: {mob: 'Акции', desk: 'Акции'},
            picture: {webp: 'offer-stock' + '.webp', jpg: 'offer-stock' + '.jpg'},
            direction: 'right'
        },
    ];