//- Метаданные
-
    const meta = {
        title: "Оформление заказа",
        description: "Описание сайта",
        keywords: "Ключевые слова через запятую",
        siteURN: "order.html",
        haveSidebar: true
    }

    const { title, description, siteURN, haveSidebar } = meta