-
    var userPanelData = [
        {
            type: 'search',
            text: 'Поиск',
            icon: '<svg width="18" height="18" viewBox="0 0 18 18" fill="none">\n' +
                    '<path d="M14 14L16.8284 16.8284" stroke-miterlimit="50" stroke-linecap="round"/>\n' +
                    '<path d="M8.5 16C10.4891 16 12.3968 15.2098 13.8033 13.8033C15.2098 12.3968 16 10.4891 16 8.5C16 6.51088 15.2098 4.60322 13.8033 3.1967C12.3968 1.79018 10.4891 1 8.5 1C6.51088 1 4.60322 1.79018 3.1967 3.1967C1.79018 4.60322 1 6.51088 1 8.5C1 10.4891 1.79018 12.3968 3.1967 13.8033C4.60322 15.2098 6.51088 16 8.5 16V16Z" stroke-miterlimit="50"/>\n' +
                    '</svg>'
        },
        {
            type: 'login',
            text: 'Войти',
            icon: '<svg width="18" height="17" viewBox="0 0 18 17" fill="none">\n' +
                    '<path d="M17 17C17 15 13 13 9 13C5 13 1 15 1 17" fill="none" stroke-miterlimit="50"/>\n' +
                    '<path d="M9 11C10.3261 11 11.5979 10.4732 12.5355 9.53553C13.4732 8.59785 14 7.32608 14 6C14 4.67392 13.4732 3.40215 12.5355 2.46447C11.5979 1.52678 10.3261 1 9 1C7.67392 1 6.40215 1.52678 5.46447 2.46447C4.52678 3.40215 4 4.67392 4 6C4 7.32608 4.52678 8.59785 5.46447 9.53553C6.40215 10.4732 7.67392 11 9 11V11Z" fill="none" stroke-miterlimit="50"/>\n' +
                    '</svg>'
        },
        {
            type: 'favorites',
            text: '4',
            icon: '<svg width="20" height="18" viewBox="0 0 20 18" fill="none">\n' +
                    '<path d="M19 6.56996C19 -0.0710425 11 -0.112043 10 3.00296C9 -0.0720427 1 -0.0720429 1 6.56996C1 13.212 10 17 10 17C10 17 19 13.212 19 6.56996Z" fill="none" stroke-miterlimit="50" stroke-linecap="round" stroke-linejoin="round"/>\n' +
                    '</svg>'
        },
        {
            type: 'bag',
            text: '3',
            icon: '<svg width="18" height="18" viewBox="0 0 18 18" fill="none">\n' +
                    '<path d="M0.63014 12.451C0.55168 13.0172 0.595503 13.5937 0.758655 14.1416C0.921807 14.6895 1.2005 15.196 1.57595 15.6271C1.9514 16.0582 2.41489 16.4038 2.93518 16.6406C3.45547 16.8774 4.02048 17 4.59214 17H13.4081C13.9798 17 14.5448 16.8774 15.0651 16.6406C15.5854 16.4038 16.0489 16.0582 16.4243 15.6271C16.7998 15.196 17.0785 14.6895 17.2416 14.1416C17.4048 13.5937 17.4486 13.0172 17.3701 12.451L16.6781 7.451C16.5456 6.4944 16.0714 5.61806 15.3432 4.98376C14.615 4.34946 13.6819 4.00004 12.7161 4H5.28414C4.3184 4.00004 3.38529 4.34946 2.65706 4.98376C1.92884 5.61806 1.45469 6.4944 1.32214 7.451L0.63014 12.451Z" fill="none" stroke-miterlimit="50"/>\n' +
                    '<path d="M13 8V5C13 3.93913 12.5786 2.92172 11.8284 2.17157C11.0783 1.42143 10.0609 1 9 1C7.93913 1 6.92172 1.42143 6.17157 2.17157C5.42143 2.92172 5 3.93913 5 5V8" fill="none" stroke-miterlimit="50" stroke-linecap="round"/>\n' +
                    '</svg>'
        },
    ];