-
  var journalData1 = {
    title: 'Весенние квесты и сценарии прогулок',
    text: 'Весна — время перемен, цветов и ярких красок. ' +
      'Как отпраздновать с ребенком приход этого удивительного ' +
      'времени года? Устроить ему необычный весенний квест. ' +
      'Однажды утром ваш ребенок получает письмо от сказочного ' +
      'зайчонка Тима.',
    picture: {
      webp: 'journal-screen1' + '.webp',
      jpg: 'journal-screen1' + '.jpg',
    },
  }

  var journalData2 = {
    title: 'Весенние квесты и сценарии прогулок',
    text: 'Весна — время перемен, цветов и ярких красок. ' +
            'Как отпраздновать с ребенком приход этого удивительного ' +
            'времени года? Устроить ему необычный весенний квест. ' +
            'Однажды утром ваш ребенок получает письмо от сказочного ' +
            'зайчонка Тима.',
    picture: {
      webp: 'journal-screen2' + '.webp',
      jpg: 'journal-screen2' + '.jpg',
    },
  }