//- Главная страница
extends ../../layout/layout
include ../../blocks/brands/brands

block meta

  include cart.data.pug

  title=title + " | " + siteName
  meta( name="description", content=description )
  meta( name="keywords", content=keywords )

block append head
  link( rel="canonical" href=siteURL + siteURN )
  link( rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css" )
  link( rel="stylesheet" href="styles/index.min.css" )

block main
  +brands()
  +info()

block append foot
  script( src="scripts/index.min.js" )