//- Метаданные
-
  const meta = {
    title: "Корзина",
    description: "Описание сайта",
    keywords: "Ключевые слова через запятую",
    siteURN: "cart.html"
  }

  const { title, description, siteURN } = meta