// В этом файле должны быть стили для БЭМ-блока sort-select, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

@import "../../libraries/variables";
@import "../../libraries/mixins";

.sort-select {
  $block-name: &; // #{$block-name}__element

  display: flex;
  align-items: center;
  padding-top: 48px;

  &__title {
    margin-right: 8px;
    font-size: 14px;
  }

  &__wrapper {
    display: flex;
    background: $white;
    width: 100%;
  }

  #sort-select-button {
    padding: 12px 16px 11px;
    border: 1px solid #eeecef;
    border-radius: 0;
    width: 100%;
    margin: 0;
    background: none;
    font-family: $font-family !important;
    font-size: 14px !important;
    color: #97a6b5 !important;

    &.ui-selectmenu-button-open {
      border-color: $purple;

      .ui-icon {
        &::after {
          border-color: $purple;
          transform: rotate(-135deg);
          top: 8px;
        }
      }
    }

    .ui-icon {
      background: none;
      position: relative;

      &::after {
        @include pseudo;
        border: solid #97a6b5;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        right: 5px;
        top: 5px;
      }
    }

    .ui-selectmenu-text {
      margin-right: 14px;
    }
  }
}

#sort-select-menu {
  border: 1px solid #eeecef;
  border-top: 0;
  border-radius: 0;
  font-family: $font-family !important;
  font-size: 14px !important;
  background: $white;

  .ui-menu-item-wrapper {
    padding: 10px 16px;
    color: $gray !important;

    &:hover {
      background: $white;
      color: $purple !important;
      border: 0 !important;
      padding: 10px 16px !important;
    }
  }

  .ui-state-active,
  .ui-state-focus {
    background: $white;
    border: 0 !important;
    padding: 10px 16px !important;
    margin: 0;
  }
}