// В этом файле должны быть стили для БЭМ-блока sort-buttons, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

@import "../../libraries/variables";
@import "../../libraries/mixins";

.sort-buttons {
  $block-name: &; // #{$block-name}__element

  @media (min-width: $screen-xxl) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 90px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 45px;

    @media (min-width: $screen-xxl) {
      padding-top: 0;
    }

    &--show-all {
      #{$block-name}__item {
        display: block !important;
      }
    }
  }

  &__item{
    display: none;
    margin: 0 10px 10px 0;

    @media (min-width: $screen-xxl) {
      margin: 0 16px 16px 0;
    }

    &:first-child,
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      display: block;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
    height: 32px;
    min-width: auto;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 400;
    color: #97a6b5;
    border-color: #97a6b5;

    &:hover {
      @media (min-width: $screen-xxl) {
        background: none;
        border-color: $purple;
        color: $purple;
      }
    }

    &--selected {
      background: $purple;
      border-color: $purple;
      color: $white;
      border-radius: 20px;

      &:hover {
        background: $purple;
        color: $white;
      }
    }

    &--show-all {
      margin-top: 11px;
      background: #efeeef;
      color: $purple;
      border-color: transparent;

      @media (min-width: $screen-xxl) {
        margin-top: 0;
      }

      svg {
        stroke: $purple;
        margin-left: 9px;
      }
    }
  }
}
