-
    var sbData = [
        'Для мальчиков', 'Для чевочек', 'День рождения', 'Для школы', 'Детская комната'
    ];

    var ssData = [
        'По популярности', 'По рейтингу', 'По новизне', 'Цена по возрастанию', 'Цена по убыванию', 'По скидке'
    ];