//- Личный кабинет

extends ../../layout/layout.pug

include ../../blocks/breadcrumbs/breadcrumbs.pug
include ../../blocks/sort/sort-buttons
include ../../blocks/side-nav/side-nav.pug
include ../../blocks/search/search
include ../../blocks/sort/sort-select.pug
include ../../blocks/journal/journal
include ../../blocks/text-description/text-description

block meta

  include journal.data.pug

  title=title + " | " + siteName
  meta( name="description", content=description )
  meta( name="keywords", content=keywords )

block append head
  link( rel="canonical" href=siteURL + siteURN )
  link( rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" )
  link( rel="stylesheet" href="styles/journal.min.css" )

block main
  include ../../blocks/journal/journal.data.pug

  +sort-buttons()
  ul.journal-full-list
    li.journal-full-item
      +journal( journalData1, 'direction-lr' )
    li.journal-full-item
      +journal( journalData2, 'direction-rl' )

block sidebar
  include ../../blocks/side-nav/side-nav.data.pug

  +side-nav(slData)
  +search( 'Поиск' )
  +sort-select()

block text
  +text-description()

block append foot
  script( src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" )
  script( src="scripts/journal.min.js" )