// В этом файле должны быть стили для БЭМ-блока field-text, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

@import "../../libraries/variables";
@import "../../libraries/mixins";

.field-text {
  $block-name: &; // #{$block-name}__element

  display: block;
  //margin-bottom: 17px;

  &__name {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 48px;
    margin: 0;
    border: 1px solid $gray;
    padding: 5px 15px;
    line-height: $line-height;
    font: 14px / #{$line-height} #{$font-family};
    background-color: #fff;
    -moz-appearance: textfield; // stylelint-disable-line
    appearance: textfield;

    &:focus {
      border-color: $purple;
    }

    &[disabled],
    &[readonly] {
      cursor: not-allowed;
      background-color: $gray;
    }

    &[type='color'] {
      padding: 0;
    }

    &::placeholder {
      color: $gray;
      opacity: 1;
    }

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration,
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    @at-root textarea#{&} {
      //$textarea-height: ($line-height * 2) + ($field-padding-vertical * 2);

      height: auto;
      //min-height: calc(#{$textarea-height} + 2px);
      resize: none;
    }

    @include placeholder {
      color: $gray;
    };

    @include placeholder-hidden;
  }

  &__help-text {
    display: block;
    padding-top: 0.4em;
    //font-size: $font-size-sm;
    line-height: 1.2em;
    //color: $text-color--muted;

    &:empty {
      display: none;
    }
  }

  &--error {
    #{$block-name}__name,
    #{$block-name}__input,
    #{$block-name}__help-text {
      color: $color-danger;
    }

    #{$block-name}__input {
      border-color: $color-danger;
      background-color: lighten($color-danger, 35%);
    }
  }

  &--short {
    #{$block-name}__input {
      height: 40px;
    }
  }

  &--padding {
    #{$block-name}__input {
      padding-right: 38px;
    }
  }

  &--date {
    #{$block-name}__input-wrap {
      position: relative;
      display: block;

      svg {
        position: absolute;
        fill: none;
        stroke: $gray;
        height: 24px;
        width: 24px;
        top: calc(50% - 12px);
        right: 12px;
      }
    }

    #{$block-name}__input {
      padding-right: 48px;

      &:focus {
        + svg {
          stroke: $purple;
        }
      }
    }
  }

  &--radio {
    display: flex;
    align-items: center;
    cursor: pointer;

    #{$block-name}__name {
      color: $purple;
      margin-bottom: 1px;
    }

    #{$block-name}__input {
      @include hide-text;

      &:checked {
        + #{$block-name}__select {
          border-color: $purple;

          &::before {
            display: block;
          }
        }
      }

      &-wrap {
        margin-left: 15px;
      }
    }

    #{$block-name}__select {
      position: relative;
      display: block;
      width: 16px;
      height: 16px;
      border: 1px solid $gray;
      border-radius: 50%;

      &::before {
        @include pseudo;
        display: none;
        top: calc(50% - 5px);
        left: calc(50% - 5px);
        background: $purple;
        border-radius: 50%;
        width: 10px;
        height: 10px;
      }
    }
  }

  &--checkbox {
    display: flex;
    align-items: flex-start;
    //justify-content: space-between;
    cursor: pointer;

    #{$block-name}__name {
      color: $purple;
      margin-bottom: 1px;
    }

    #{$block-name}__input {
      @include hide-text;

      &:checked {
        + #{$block-name}__select {
          border-color: $purple;
          background: $purple;

          &::before {
            display: block;
          }
        }
      }

      &-wrap {
        margin: 5px 0 0 auto;

        @media (min-width: $screen-xxl) {
          margin-left: 16px;
        }
      }
    }

    #{$block-name}__select {
      position: relative;
      display: block;
      width: 16px;
      height: 16px;
      border: 1px solid $gray;
      border-radius: 4px;

      &::before {
        @include pseudo;
        display: none;
        background: url('#{$images-dir}icon-check.svg') center no-repeat;
        width: 10px;
        height: 6px;
        top: calc(50% - 3px);
        left: calc(50% - 5px);
      }
    }
  }

  &--search {
    #{$block-name}__name {
      @include hide-text;
    }

    #{$block-name}__input-wrap {
      position: relative;
    }

    #{$block-name}__input {
      border: 0;
      border-bottom: 1px solid #97a6b5;
      padding-left: 0;
      padding-right: 20px;

      &:focus + svg {
        stroke: $purple;
      }
    }

    svg {
      position: absolute;
      right: 0;
      top: calc( 50% - (18px / 2) );
      stroke: #97a6b5;
      fill: none;
    }
  }
}
