//- Метаданные
-
  const meta = {
    title: "Каталог",
    description: "Описание сайта",
    keywords: "Ключевые слова через запятую",
    siteURN: "catalog.html",
    haveSidebar: true
  }

  const { title, description, siteURN, haveSidebar } = meta