-
    var giftsData1 = {
        title: 'Вы уже придумали, что подарите племяннице на трехлетие?',
        picture: {
            webp: 'gifts-screen2' + '.webp',
            jpg: 'gifts-screen2' + '.jpg',
        },
    }

    var giftsData2 = {
        title: 'Кто ещё мечтает о собственном Бентли?',
        picture: {
            webp: 'gifts-screen1' + '.webp',
            jpg: 'gifts-screen1' + '.jpg',
        },
    }