//- Метаданные
-
  const meta = {
    title: "Сео заголовок сайта",
    description: "Описание сайта",
    keywords: "Ключевые слова через запятую",
    siteURN: "index.html"
  }

  const { title, description, siteURN } = meta