//- Метаданные
-
    var meta = {
        title: "Сео заголовок сайта",
        description: "Описание сайта",
        keywords: "Ключевые слова через запятую",
        siteURN: "index.html"
    }

    var { title, description, siteURN } = meta