//- Метаданные
-
    var meta = {
        title: "Главная страница",
        description: "Описание сайта",
        keywords: "Ключевые слова через запятую",
        siteURN: "index.html",
        haveSidebar: false
    }

    var { title, description, siteURN, haveSidebar } = meta