| <svg width="20" height="18" viewBox="0 0 20 18">
| <path d="M19 6.56996C19 -0.0710425 11 -0.112043 10 3.00296C9 -0.0720427 1 -0.0720429 1 6.56996C1 13.212 10 17 10 17C10 17 19 13.212 19 6.56996Z" stroke-miterlimit="50" stroke-linecap="round" stroke-linejoin="round"/>
| </svg>