-
    var cardData1 = [
        {
            title: 'Подушка мишка',
            price: 990,
            discount: '',
            picture: {
                webp: 'beer' + '.webp',
                jpg: 'beer' + '.jpg'
            }
        },
        {
            title: 'Чайная пара',
            price: 590,
            discount: 190,
            picture: {
                webp: 'cups' + '.webp',
                jpg: 'cups' + '.jpg'
            }
        },
        {
            title: 'Чайная пара',
            price: 590,
            discount: 190,
            picture: {
                webp: 'cups' + '.webp',
                jpg: 'cups' + '.jpg'
            }
        },
        {
            title: 'Чайная пара',
            price: 590,
            discount: 190,
            picture: {
                webp: 'cups' + '.webp',
                jpg: 'cups' + '.jpg'
            }
        },
        {
            title: 'Чайная пара',
            price: 590,
            discount: 190,
            picture: {
                webp: 'cups' + '.webp',
                jpg: 'cups' + '.jpg'
            }
        },
        {
            title: 'Чайная пара',
            price: 590,
            discount: 190,
            picture: {
                webp: 'cups' + '.webp',
                jpg: 'cups' + '.jpg'
            }
        }
    ];