-
    var userPanelListData = [
        {title: 'Профиль пользователя', prop: 'Мои данные', value: '', current: true},
        {title: 'Избранное', prop: 'Товаров', value: '4', current: false},
        {title: 'Корзина', prop: 'Товаров', value: '3', current: false},
        {title: 'История заказов', prop: 'Количество', value: '2', current: false},
    ];