-
    var sugData1 = [
        {
            category: 'Мамам',
            title: 'Дети подрастают, а посуда Avanchy отлично вписывается в ваш интерьер',
            picture: {
                webp: 'sug1' + '.webp',
                jpg: 'sug1' + '.jpg'
            }
        },
        {
            category: 'Новорожденным',
            title: 'Экологичность и безопасность наша цель',
            picture: {
                webp: 'sug2' + '.webp',
                jpg: 'sug2' + '.jpg'
            }
        },
        {
            category: 'Детям',
            title: 'С зонтиками Bloomingville прогулки под дождем больше не проблема!',
            picture: {
                webp: 'sug3' + '.webp',
                jpg: 'sug3' + '.jpg'
            }
        },
    ];

    var sugData2 = [
        {
            category: 'Посуда',
            title: 'Конфеты вкуснее вдвойне если рядом друзья от #Bloomingville',
            picture: {
                webp: 'sug4' + '.webp',
                jpg: 'sug4' + '.jpg'
            }
        },
        {
            category: 'Мебель',
            title: 'С улиткой жить гораздо веселее!',
            picture: {
                webp: 'sug5' + '.webp',
                jpg: 'sug5' + '.jpg'
            }
        },
        {
            category: 'Декор',
            title: 'Оказывается на облаках могут жить любимые игрушки',
            picture: {
                webp: 'sug6' + '.webp',
                jpg: 'sug6' + '.jpg'
            }
        }
    ];