//- Все примеси в этом файле должны начинаться c имени блока ( logo )

mixin logo( mods )

    -
        //- класс блока
        var className = 'logo';

        //- список модификаторов
        var allMods = '';
        if ( typeof mods !== 'undefined' && mods ) {
            var modsList = mods.split( ',' );
            for ( var i = 0; i < modsList.length; i++ ) {
                allMods += ' ' + className + '--' + modsList[i].trim();
            }
        }

    if ( attributes.href )
        a( class=className + allMods )&attributes( attributes )
            block
    else
        p( class=className + allMods )&attributes( attributes )
            block
