-
    const footerInfoData = [
        {
            title: 'Сотрудничество',
            text: 'sales@kidsandco.ru',
            mod: 'cooperation'
        },
        {
            title: 'Общие вопросы',
            text: 'sales@kidsandco.ru',
            mod: 'questions'
        },
        {
            title: '',
            text: 'Политика конфиденциальности',
            mod: 'policy'
        },
    ]