//- Метаданные
-
  const meta = {
    title: "Личный кабинет",
    description: "Описание сайта",
    keywords: "Ключевые слова через запятую",
    siteURN: "user.html",
    haveSidebar: true
  }

  const { title, description, siteURN, haveSidebar } = meta