//- Все примеси в этом файле должны начинаться c имени блока ( text-description )

mixin text-description( props, isStock, mods )

    -
        //- класс блока
        var className = 'text-description';

        //- список модификаторов
        var allMods = '';
        if ( typeof mods !== 'undefined' && mods ) {
            var modsList = mods.split( ',' );
            for ( var i = 0; i < modsList.length; i++ ) {
                allMods += ' ' + className + '--' + modsList[i].trim();
            }
        }

    section( class=className + allMods )
        h2( class=className + '__title' ) СЕО Заголовок
        p( class=className + '__text' )
            | Наш постоянно расширяющийся ассортимент подобран таким образом, что приятных сюрпризов действительно хватит всем! Итак, какие оригинальные подарки вы найдете у нас в магазине? Подарочные наборы; Очень удобный способ выразить свою благодарность или отметить памятную
        p( class=className + '__text' )
            | Наш постоянно расширяющийся ассортимент подобран таким образом, что приятных сюрпризов действительно хватит всем! Итак, какие оригинальные подарки вы найдете у нас в магазине? Подарочные наборы; Очень удобный способ выразить свою благодарность или отметить памятную