-
    var productsData1 = {
        title: 'Новости',
        text: 'Эти материалы идеальны для ежедневного использования и не вредят нежной коже и деснам малыша.'
    }

    var productsData2 = {
        title: 'Популярные товары',
        text: 'Эти материалы идеальны для ежедневного использования и не вредят нежной коже и деснам малыша.'
    }