// В этом файле должны быть стили для БЭМ-блока brands, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

@import "../../libraries/variables";
@import "../../libraries/mixins";

.brands {
  background: #f3f1f3;

  @media (min-width: $screen-xxl) {
    background: none;
  }

  &__container {
    padding-top: 40px;
    padding-bottom: 25px;

    @media (min-width: $screen-xxl) {
      padding-bottom: 60px;
    }
  }

  &__carousel {
    position: relative;
    grid-column: 1 / -1;
    //width: 100%;

    @media (min-width: $screen-xxl) {
      background-color: #f3f1f3;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__list {
    @include list-reset;
    height: auto;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    picture {
      max-width: 162px;
      width: 100%;

      @media (min-width: $screen-xxl) {
        max-width: 128px;
      }

      img {
        height: auto;
        width: 100%;
        filter: grayscale(100%);
      }
    }
  }

  &__arrows {
    @extend .presentation__arrows;
  }

  &__arrow {
    @extend .presentation__arrow;

    &--prev {
      @extend .presentation__arrow--prev;
    }

    &--next {
      @extend .presentation__arrow--next;
    }
  }
}