-
  const brandsPath = 'brands/';

  const brandsList = [
    {
      title: 'Bloomingville',
      srcPNG: brandsPath + 'brand-bloomingville.png',
      srcWP: brandsPath + 'brand-bloomingville.webp',
    },
    {
      title: 'Banwood',
      srcPNG: brandsPath + 'brand-banwood.png',
      srcWP: brandsPath + 'brand-banwood.webp'
    },
    {
      title: 'Baghera',
      srcPNG: brandsPath + 'brand-baghera.png',
      srcWP: brandsPath + 'brand-baghera.webp',
    },
    {
      title: 'Avanchy',
      srcPNG: brandsPath + 'brand-avanchy.png',
      srcWP: brandsPath + 'brand-avanchy.webp',
    },
    {
      title: 'Apero',
      srcPNG: brandsPath + 'brand-apero.png',
      srcWP: brandsPath + 'brand-apero.webp',
    },
    {
      title: 'Disney',
      srcPNG: brandsPath + 'brand-disney.png',
      srcWP: brandsPath + 'brand-disney.webp',
    },
  ];