// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

@import "../../libraries/variables";
@import "../../libraries/mixins";

.form {
  $block-name: &; // #{$block-name}__element

  &__fieldset {
    margin: 0;
    border: 0;
    padding: 0;
    position: relative;
  }

  &__legend {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }

  &__fields {
    &-wrapper {
      display: flex;
      flex-flow: row wrap;
    }

    &-title {
      flex-basis: 100%;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 8px;
    }
  }

  &__text {
    font-size: 14px;
  }
}
