//- Настройки
-
  const setting = {
    lang: "ru",
    charset: "utf-8",
    siteName: "Название сайта",
    siteURL: "http://localhost:8080/",
    videosSrc: "videos/",
    imagesSrc: "images/",
    iconSrc: "icons/",
    faviconSrc: "favicon/"
  }

  const { lang, charset, siteName, siteURL } = setting;